.teamsection__container{
    margin-bottom: 30px;
}
.teamsection__members{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
}
.teamsection__title{
width: 178px;
height: 52px;
text-align: left;
font: normal normal bold 45px/52px Gill Sans MT;
letter-spacing: 0px;
color: #141B86;
text-transform: uppercase;
opacity: 1;
margin: 30px 60px;

}
